/**
 * @file md5walk.rc
 * @author Christian Schenk
 * @brief Windows resources
 *
 * @copyright Copyright © 2005-2022 Christian Schenk
 *
 * This file is part of MD5Walk.
 *
 * MD5Walk is licensed under GNU General Public License version 2 or any later
 * version.
 */

#include "md5walk-version.h"

#define VER_INTERNALNAME_STR "chkdata"
#define VER_ORIGINALFILENAME_STR "chkdata.exe"

#define VER_FILEDESCRIPTION_STR "Data Integrity Checker"

#include "miktex/win/version.rc"
