/* arctrl.rc:

   Copyright (C) 2006-2020 Christian Schenk

   This file is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published
   by the Free Software Foundation; either version 2, or (at your
   option) any later version.
   
   This file is distributed in the hope that it will be useful, but
   WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with This file; if not, write to the Free Software
   Foundation, 59 Temple Place - Suite 330, Boston, MA 02111-1307,
   USA. */

#pragma code_page(65001)

#include "arctrl-version.h"

#define VER_INTERNALNAME_STR "arctrl"
#define VER_ORIGINALFILENAME_STR "arctrl.exe"

#define VER_FILEDESCRIPTION_STR "Acrobat Reader (AR) controller"

#include "miktex/win/version.rc"
