/**
 * @file miktex-lua.rc
 * @author Christian Schenk
 * @brief Windows resources
 *
 * @copyright Copyright © 2010-2022 Christian Schenk
 *
 * This file is free software; the copyright holder gives unlimited permission
 * to copy and/or distribute it, with or without modifications, as long as this
 * notice is preserved.
 */

#include "miktex-lua-version.h"

#define VER_FILEDESCRIPTION_STR "Lua interpreter"
#define VER_INTERNALNAME_STR "lua"
#define VER_ORIGINALFILENAME_STR "miktex-lua.exe"

#include <miktex/win/version.rc>
