/* texworks.rc:

   Copyright (C) 2009-2020 Christian Schenk

   This file is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published
   by the Free Software Foundation; either version 2, or (at your
   option) any later version.

   This file is distributed in the hope that it will be useful, but
   WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this file; if not, write to the Free Software
   Foundation, 59 Temple Place - Suite 330, Boston, MA 02111-1307,
   USA. */

#pragma code_page(65001)

#ifdef RC_INVOKED
IDI_ICON1 ICON DISCARDABLE "source/res/images/TeXworks.ico"
2 ICON DISCARDABLE "source/res/images/TeXworks-doc.ico"
#endif

#include "texworks-version.h"

#define VER_INTERNALNAME_STR "texworks"
#define VER_ORIGINALFILENAME_STR "miktex-texworks.exe"

#define VER_COMPANYNAME_STR "TeX Users Group"

#define VER_FILEDESCRIPTION_STR "TeXworks - a graphical user interface to the typesetting system TeX and its extensions"

#include <miktex/win/version.rc>
