/**
 * @file miktex-fc-list.rc
 * @author Christian Schenk
 * @brief Windows resources
 *
 * @copyright Copyright © 2007-2022 Christian Schenk
 *
 * This file is free software; the copyright holder gives unlimited permission
 * to copy and/or distribute it, with or without modifications, as long as this
 * notice is preserved.
 */

#include "miktex-fc-list-version.h"

#define VER_FILEDESCRIPTION_STR "Fontconfig - list available fonts"
#define VER_INTERNALNAME_STR "fc-list"
#define VER_ORIGINALFILENAME_STR "fc-list.exe"

#include "miktex/win/version.rc"
