/**
 * @file miktex-fc-scan.rc
 * @author Christian Schenk
 * @brief Windows resources
 *
 * @copyright Copyright © 2010-2022 Christian Schenk
 *
 * This file is free software; the copyright holder gives unlimited permission
 * to copy and/or distribute it, with or without modifications, as long as this
 * notice is preserved.
 */

#include "miktex-fc-scan-version.h"

#define VER_FILEDESCRIPTION_STR "Fontconfig - scan font files or directories"
#define VER_INTERNALNAME_STR "fc-scan"
#define VER_ORIGINALFILENAME_STR "fc-scan.exe"

#include "miktex/win/version.rc"
