/**
 * @file miktex-hishrink.rc
 * @author Christian Schenk
 * @brief Windows resources
 *
 * @copyright Copyright © 2022 Christian Schenk
 *
 * This file is free software; the copyright holder gives unlimited permission
 * to copy and/or distribute it, with or without modifications, as long as this
 * notice is preserved.
 */

#include "miktex-hishrink-version.h"

#define VER_FILEDESCRIPTION_STR "hishrink - translating ASCII HINT files to binary files"
#define VER_INTERNALNAME_STR "hishrink"
#define VER_ORIGINALFILENAME_STR "miktex-hishrink.exe"

#include <miktex/win/version.rc>
