[Desktop Entry]
Type=Application
Version=1.0
Name=MiKTeX Console
Comment=MiKTeX management console
Icon=MiKTeX
Exec=miktex-console
Categories=Utility;Qt;
