/**
 * @file cfg.rc
 * @author Christian Schenk
 * @brief Windows resources
 *
 * @copyright Copyright © 2006-2022 Christian Schenk
 *
 * This file is part of Cfg.
 *
 * Cfg is licensed under GNU General Public License version 2 or any later
 * version.
 */

#include "cfg-version.h"

#define VER_INTERNALNAME_STR "cfg"
#define VER_ORIGINALFILENAME_STR "cfg.exe"

#define VER_FILEDESCRIPTION_STR "Cfg Utility"

#include "miktex/win/version.rc"
